body {
  padding: 0;
  padding-top: 70px;
  margin: 0;
  clear: both;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

#main-content{
    transition-duration: 1.8s;
}
#main-content.expanded{
    opacity: 0.4;
}

#nav-header{
    z-index: 200;
    border-top: 0;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #ececec;
    border-top: none;
    height: 49px;
    width:100%;
    margin: 0 auto;
    transition-duration: 1.8s;
    animation-duration: 1.8s;
}
@media screen and (min-width: 1200px){
    #nav-header{
        width:70%;
    }
}
#nav-header.expanded{
    height: 292px;
    box-shadow: 0px 2px 6px -2px;
    animation-duration: 1.8s;
    transition-duration: 1.8s;
}

#nav-settings{
    text-align:center;
    width:80%;
    margin: 0 auto;
    margin-top:-103px;
    transition-duration: 1.8s;
    animation-duration: 1.8s;
}
#nav-settings.expanded{
    margin-top: 140px;
    transition-duration: 1.8s;
    animation-duration: 1.8s;
}
