/*stylesheet for TaskIt Task Items */

.tiTask{
    background-color: white;
    height: auto;
    width:85%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
    box-shadow: 1px 1px 10px #454545;
}
.tiTask:hover{
    background-color: #eee;
}
.tiTask-condensed{
    height: 85px;
}

.tiStatus{
    float: left;
    width:5px;
    position: fixed;
}
.tiStatus-open{
    background-color: gray;
}
.tiStatus-closed{
    background-color: lime;
}

