<!-- views/index.ejs -->

<!DOCTYPE html>
<html ng-app="taskitapp" lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body ng-controller="bodyController" class="container">
		<% include partials/header %>
		<div id="main-content">
            <div class="row" style="margin: 0 auto;">
                <div class="col-lg-5" style="text-align: center;">
                    <h4 > Please select a container or task to begin.</h4>
                </div>
                <div class="col-lg-2" style="text-align: center;">
                    <h4 >  | OR | </h4>
                </div>
                <div class="col-lg-5" style="text-align: center;">
                    <h4 >Create something new <% include partials/itemList %>  </h4>
                </div> 
            </div>
            <div id="mainList"><!-- uncategorized container -->
                
                <ol>
                    <li ng-hide="masterList.length">No items. Add something!</li>
                    <li class="" ng-repeat="item in masterList" taskItem ></li>
                </ol>
                </div>
                
            </div>
		</div>
	</body>
</html>