<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default navbar-fixed-top" id="nav-header" role="navigation">
    <div class="container-fluid" id="nav-settings">
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Change organization name</a></li>
            <li class="list-group-item"><a href="#">Edit status data</a></li>
        </ul>       
    </div>
    <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand" style="color: #28794C !important;" href="#">
                            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> TaskIt
                    </a>  
                    <p class="navbar-brand"> :: <span class="client-brand"><%= client.name ? client.name : "" %></span></p>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapsable">
                <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class=""><a href="/about">About</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#" onclick="toggleSettingsDrawer()">Change settings</a></li>
                    <li class=""><a style="text-transform: capitalize;" href="#">Welcome, <%= user.name %>!</a></li>
                </ul>
            </div>
    </div>
</nav>