<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<!-- custom app CSS -->
<link rel="stylesheet" href="/web/stylesheets/style.css" type="text/css" />
<link rel="stylesheet" href="/web/stylesheets/task-item.css" type="text/css" />
<link rel="stylesheet" href="/web/stylesheets/user.css" type="text/css" />

<!-- Google Font API source -->
<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>

<!-- jQuery  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled custom and minified CSS -->
<link rel="stylesheet" href="/web/css/bootstrap.min.css" >

<!-- TaskIt Bootstrap custom theme -->
<link rel="stylesheet" href="/web/css/bootstrap-theme.min.css" >

<!-- Latest compiled and minified JavaScript -->
<script src="/web/js/bootstrap.min.js"></script>
 
 <!-- AngularJS : CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.0-rc.0/angular-route.min.js"></script>

 
 <!-- TaskIt Code and Scripts -->
 <script src="/web/javascripts/task-it.js"></script>
 <script src="/web/javascripts/directives.js"></script>
 
 <script src="/web/javascripts/jqHelper.js"></script>