<select style="vertical-align:top;" id="selNewItem">
    <option class="tiOption">
        Container
    </option>
    <option class="tiOption">
        Task
    </option>
    <option class="tiOption">
        Collaboration
    </option>
    <option class="tiOption">
        Hyperlink
    </option>
    <option class="tiOption">
        User
    </option>
</select>